In [8]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

# name : str = 'Muhammad Umair'
# education : str = "BS in Data Software"
# age : int = 30

# card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + str(age)

# print(card)

name : str  = "Umair"
age : int = 32
card : str = "PIAIC Student : " + name + "\nAge : " + str(age)  
 
print(card)

PIAIC Student : Umair
Age : 32

In [9]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

# name : str = 'Muhammad Qasim'
# fname : str = "Muhammad Aslam"
# education : str = "Master in Data Science"
# age : int = 30

# card : str = "PIAIC Student Card\nStudent Name: " + name +\
# "\nAge:" + str(age)+ "\n"+\
# "Education: " + education

name : str = "Umair"
age : int = 20 
edu : str =  "BSSE"
card : str =  "PIAIC Student Card \nStudent Name : " + name + "\nAge : "  + str(age) + "\nEducation :" + edu

print(card)

PIAIC Student Card
Student Name : Umair
Age : 20
Education :BSSE

In [10]:
# name : str = 'Muhammad Umair'
# education : str = "BS in Software"
# age : int = 30


# card : str = """""
# PIAIC Student Card
# Student Name : 
# Father's Name: 
# Age: ......
# Education : .....
# """

# print(card)



card : str = '''' PIAIC Student Card
# Student Name : 
# Father's Name: 
# Age: ......
# Education : .....'''
print(card)

' PIAIC Student Card
# Student Name :
# Father's Name:
# Age: ......
# Education : .....

Define multiline string """ """, ''' '''

In [12]:
name = """Umair
Surename Qureshi
age 2
Education BSSE
 """
print(name)

Umair
Surename Qureshi
age 2
Education BSSE

F-string pthon

In [15]:
name : str = 'Muhammad Umair'
fname : str = "Muhammad Qadeer"
education : str = "BS in  SE"
age : int = 30


card  : str =  f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
""" 


print(card)

PIAIC Student Card
Student Name : Muhammad Umair
Father's Name: Muhammad Qadeer
Age: 30
Education : BS in  SE

In [17]:
name : str = 'Muhammad Umair'
fname : str = "Muhammad Qadeer"
education : str = "BS in  SE"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Umair
Father's Name: Muhammad Qadeer
Age: 30
Education : BS in  SE

In [21]:
name : str = 'Muhammad Umair'
fname : str = "Muhammad Qaeder"
education : str = "BS in SE"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total:  {2 + 8 + 9 + 3}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Umair
Father's Name: Muhammad Qaeder
Age: 30
Education : BS in SE

Total:  22

F-string and Jinja style

In [22]:
name = f""" """ 
student name {name}

SyntaxError: incomplete input (3216949432.py, line 1)

In [24]:
# Jinja Style
"""
student name {{name}} """

'\nstudent name {{name}} '

In [26]:
name : str = 'Muhammad Umair'
fname : str = "Muhammad Qadder"
education : str = "BS in  SE"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : Muhammad Umair
Father's Name: Muhammad Qadder
Age: 30
Education : BS in  SE

In [27]:
message = "Hello"
location : str =  "Pakistan"
year : int = 28

mess : str = f"""
message : %s
Country  : %s
Year : %d
 """%(message , location , year )
print(mess)

message : Hello
Country  : Pakistan
Year : 28

In [28]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [32]:
{i for i in dir(str) if"_" not in i}

{'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill'}